<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-VazquezTadeoAndrea/blob/main/Actividad2_AndreaVazquezTadeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Andrea Vazquez Tadeo A01730613**

**Modulo #1**

In [21]:
#Comando imprimir
print("Hola Python")

Hola Python

*Operadores*

In [15]:
#Conociendo los operadores para realizar algebra
(3*4)+4

16

*Types*

In [50]:
#Conversion de tipo int a boleano
bool(0)

False

In [51]:
#Conversion de tipo float a int
int(2.0)

2

In [13]:
#Conversion de tipo boleano a int
int(True)

1

*Variables*

In [24]:
#Utilizando variables para operaciones
ventas_trimestrales=10+25+25
promedio=ventas_trimestrales/3
print(promedio)

20.0

*String*

In [44]:
#Imprimiendo segun el numero de index indicado
nombre="Andrea Vazquez Tadeo"
matricula="\tA01730613"
print(nombre[0:5])
print(len("A01730613"))
#Imprimiendo operacion con string
informacion_alumno=nombre+matricula
operacionstring=2*informacion_alumno
print(operacionstring)
print(informacion_alumno)

Andre
9
Andrea Vazquez Tadeo	A01730613Andrea Vazquez Tadeo	A01730613
Andrea Vazquez Tadeo	A01730613

*Method*

In [47]:
#Aplicando el metodo de mayusculas
x="ciencia y analitica de datos"
y=x.upper()
print(y)
#Remplazando palabra con metodo
a="Hola mundo"
b=a.replace("Hola","Hello")
print(b)

CIENCIA Y ANALITICA DE DATOS
Hello mundo

**Modulo #2**

*Tuple*

In [57]:
#Encontrando un valor por index dentro de un tuple
test=("hola",5,0.8)
encontrar=test[0]
print(encontrar)
#Sumando tuples
test2=test+("ya se Python",2022)
print(test2)

hola
('hola', 5, 0.8, 'ya se Python', 2022)

*Lists*

In [62]:
#Declarando lista
L=["listas",2022,0.5]
print(L[1])
#Extendiendo lista
L.extend(["lista extendida"])
print(L)
#Cambiando valor de la lista
L[0]="Ejemplo de lista"
print(L)

2022
['listas', 2022, 0.5, 'lista extendida']
['Ejemplo de lista', 2022, 0.5, 'lista extendida']

*Sets*

In [73]:
#Declarando un set
Set1={"data","hola","data"}
print(Set1)
#Convirtiendo una lista a un set
alumnosMNA=["Juan","Pablo","Juan","Sofia"]
alumnosSET=set(alumnosMNA)
print(alumnosSET)
#Añadiendo valor al set
Set1.add("ciencia")
print(Set1)
#Removiendo valor del set
Set1.remove("ciencia")
print(Set1)
#Buscar valor en set
buscar = "data" in Set1
print(buscar)
#& con 2 sets 
Set2={"ITESM","MNA","data"}
Set3=Set1&Set2
print(Set3)
#unir 2 sets
Set4=Set1.union(Set2)
print(Set4)

{'data', 'hola'}
{'Juan', 'Pablo', 'Sofia'}
{'data', 'hola', 'ciencia'}
{'data', 'hola'}
True
{'data'}
{'data', 'ITESM', 'hola', 'MNA'}

*Dictionaries*

In [84]:
#Devolver valor con el index
Comandos={"Hallo":1,"Auto":2,"Guten Tag":3,}
Valor=Comandos["Guten Tag"]
print(Valor)
#Encontrar valor en diccionario 
DataBase="Hallo" in Comandos
print(DataBase)
datos=Comandos.keys()
print(datos)

3
True
dict_keys(['Hallo', 'Auto', 'Guten Tag'])

**Modulo #3**

*Conditions and branching*

In [157]:
#Utilizando operadores de comparacion
a=10
valor=a==8
print(valor)
#Usando statements
grade=7
if (grade>7):
  print("¡Pasaste la materia!")
else:
    print("Intentalo de nuevo :(")
#Utilizando operadores logicos AND
x=18
y="mujer"
if (x==18) and (y=="mujer"):
 print("¡Bienvenida al autobus para mujeres!")
else:
   print("Por favor toma el autobus indicado para tu genero y edad")

False
Intentalo de nuevo :(
¡Bienvenida al autobus para mujeres!

*Loops*

In [182]:
#Utilizando FOR
Ejemplo=["MNA","TEC","ITESM","X"]
for x in range(0,4):
 Ejemplo[x]="white"
 print(Ejemplo[x])
#Utilizando WHILE
Genero=["Femenino","Femenino","Masculino","Femenino"]
Inscritos=[]
i=0
while(Genero[i]=="Femenino"):
  Inscritos.append(Genero[i])
  i=i+1
  print(i)

white
white
white
white
1
2

*Functions*

In [203]:
#Utilizando función LEN, SUM y SORTED
media=[6,7,8,3,4,6,2]
Prueba=len(media)
Prueba2=sum(media)
Prueba3=sorted(media)
print(Prueba)
print(Prueba2)
print(Prueba3)

#creando funcion 
prueba=5
def add(x):
 return prueba+x
resultado=add(15)
print(resultado)

7
36
[2, 3, 4, 6, 6, 7, 8]
20

*Object and Classes*

In [211]:
#creando una clase
class circulo (object):
  def __init__(radio,color):
    self.radio=radio;
    self.color=color;

    CirculoNegro=Circulo(20,"black")
    C1=Circulo(20,"black")
    C1.radio
    C1.color