<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-VazquezTadeoAndrea/blob/main/Semana_4_Data_Analysis_with_Python_AndreaVazquezTadeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Logo_Tec_azul.webp]()

Nombre: Andrea Vazquez Tadeo
 
Matricula: A01730613

Materia: Ciencia y Analitica de Datos

Entregable: Semana 4 Data Analysis with Python 

Maestro: Jobish Vallikavungal Devassia

# Introduccion

El analisis de los datos nos ayuda a dar solucion a problemas a partir de la información recopilada ya sea de manera manual o automatica. Ademas nos puede ayudar a predecir comportamientos.

Cuando intentamos resolver un problema a través del analisis de datos, es de suma importancia visualizar la información con la que contamos y la que necesitaremos para poder realizar un analisis profundo del escenario y asi obtener una mejor solución. Además de identificar la variable a predecir, o el objetivo del analisis, siempre teniendo presente que las variables restantes seran de apoyo o tambien llamadas predictores.

En python existen librerias las cuales son una colección de metodos y funciones que permiten simplificar las lineas de codigo de nuestro programa. Para esta actividad estudiaremos tres tipos de ellas.

## Librerias Computación Cientifica



1.   Pandas

Permite una efectiva manipulación y analisis de los datos, además de acceso rapido a datos estructurados. La principal herramienta de Pandas es el DataFrame, el cual consiste en almacenar los datos en columnas y renglones. 

2.   NumPy

Utiliza arreglos para estructuras las entradas y salidas de los datos, se puede extender hasta matrices e inclusive se puede realizar un procesamiento de datos más eficiente con los arreglos. 

3.   SciPy

Permite realizar avanzados problemas matematicos como integrales, equaciones diferenciales y optimización de los datos. Así como una visualización de los datos más eficiente.

##Librerias de Visualización

Utilizar los metodos de visualización de datos es la mejor forma de comunicar los resultados con el publico objetivo, ya que nos habilita la posibilidad de mostrar los analisis de manera más efectiva, permitiendonos organizarlo en mapas y graficas.


1.   Matplotlib 

Es la libreria más comun para graficas y plots, permitiendo realizar la personalización al usuario final, segun las necesidades de los datos. 

2.   Seaborn 

Se encuentra basada en Matplotlib, permitiendo con mayor facilidad generar los plots, como mapas de calor y series de tiempo.

##Librerias de Algoritmo

Estas librerias transforman algunas tareas de aprendizaje automatico en procedimientos más sencillos permitiendonos desarrollar un modelo utilizando nuestra base de datos con el objetivo de obtener resultados con respecto a problemas.



1.   Scikit-learn

Se encuentra basado NumPy, SciPy y Matplotlib con la aplicación de las herramientas especificas nos permite realizar modelos estadisticos como regresión, clasificación, entre otros. 

2.   Statsmodels

Permite a los usuarios explorar los datos, estimar modelos estadisticos y desarrollar pruebas estadisticas.

#Importando el Dataframe

La adquisición de datos consiste en cargar y leer datos de varias fuentes. Los puntos importantes a tener presentes para realizar una adecuada lectura es el formato y la ubicación del archivo. 

Entendemos por formato a la forma en la que los datos se encuentra codificada. Algunos ejemplos son:
1.   .csv
2.   .json
3.   .xlsx
4.   .hdf


Por la ubicación el lugar donde se encuentra almacenada la información, generalmente en la computadora que utilizamos o en internet.

In [20]:
#Importamos un archivo csv con header 

import pandas as pd

path = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
dataframe = pd.read_csv(path)

In [21]:
#Imprimiremos las primeras 3 lineas de la base de datos para visualizar los encabezados originales
dataframe.head(3)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950

Como pudimos visualizar, la base de datos se imprimio de manera original, respetando la regla de 3 renglones que le indicamos a la función.

In [23]:
#Podemos importar un archivo csv sin header simplemente indicando "none"

import pandas as pd

path = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
dataframe = pd.read_csv(path, header = None)

In [24]:
#Imprimiremos las primeras 3 lineas de la base de datos para visualizar que sucede cuando se ocultan los encabezados
dataframe.head(3)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

Para este escenario, la base de datos se imprimio de manera modificada, ocultando los encabezados, pero respetando la regla de 3 renglones que le indicamos a la función.

#Imprimiendo el Dataframe

Para conjuntos de bases de datos muy largos no es recomendable imprimir la base de datos completamente. En algunos casos para propositos especificos se recomienda solo realizar la impresión de las primeras o las ultimas n cantidad de renglones de la base de datos, dependiendo las necesidades. A continuación veremos que función podemos utilizar.

In [18]:
#Imprimir solo las primeras 5 lineas de la base de datos
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Notamos que cuando no colocamos el valor deseado dentro de la función head o tail, pandas automaticamente asigna el valor de 5 para imprimir ya sea las primeras o ultimas 5 filas de la base de datos.

In [13]:
#Imprimir solo las ultimas 5 lineas de la base de datos
dataframe.tail()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Podemos observar que como manualmente quitamos los encabezados de las columnas, automaticamente pandas asigna valores numericos a dichos encabezados. Sin embargo, como no es lo más eficiente trabajar con datos sin categorias significativas, reemplazaremos los numeros de los encabezados por nombres relacionados a la información.

In [25]:
#Anañadiendo los encabezados que definimos para este ejercicio con proposito de practica

encabezados = ["Prueba0","Prueba1","Prueba2","Prueba3","Prueba4","Prueba5","Prueba6","Prueba7","Prueba8","Prueba9","Prueba10","Prueba11","Prueba12","Prueba13","Prueba14","Prueba15","Prueba16","Prueba17","Prueba18","Prueba19","Prueba20","Prueba21","Prueba22","Prueba23","Prueba24","Prueba25"]
dataframe.columns=encabezados 
dataframe.head(5)

,Prueba0,Prueba1,Prueba2,Prueba3,Prueba4,Prueba5,Prueba6,Prueba7,Prueba8,Prueba9,...,Prueba16,Prueba17,Prueba18,Prueba19,Prueba20,Prueba21,Prueba22,Prueba23,Prueba24,Prueba25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#Exportando el Dataframe

Existen muchos formatos que pandas permite exportar e importar como lo mencionamos en la introducción del ejercicio, aunque solo realizaremos la prueba con un tipo, indicaremos para propositos de entrenamiento las funciones necesarias para ejecutarlos.

Read: 
1.   pd.read_csv()
2.   pd.read_json()
3.   pd.read_excel()
4.   pd.read_sql()

Save: 
1.   df.to_csv()
2.   df.to_json()
3.   df.to_excel()
4.   df.to_sql()

In [27]:
#Exportamos en archivo CSV la base de datos que hemos estado trabajando hasta este momento 
dataframe.to_csv("Semana4.csv")