<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-VazquezTadeoAndrea/blob/main/Semana_4_Data_Analysis_with_Python_AndreaVazquezTadeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Logo_Tec_azul.webp]()

Nombre: Andrea Vazquez Tadeo
 
Matricula: A01730613

Materia: Ciencia y Analitica de Datos

Entregable: Semana 4 Data Analysis with Python 

Maestro: Jobish Vallikavungal Devassia

# Introduccion

El analisis de los datos nos ayuda a dar solucion a problemas a partir de la información recopilada ya sea de manera manual o automatica. Ademas nos puede ayudar a predecir comportamientos.

Cuando intentamos resolver un problema a través del analisis de datos, es de suma importancia visualizar la información con la que contamos y la que necesitaremos para poder realizar un analisis profundo del escenario y asi obtener una mejor solución. Además de identificar la variable a predecir, o el objetivo del analisis, siempre teniendo presente que las variables restantes seran de apoyo o tambien llamadas predictores.

En python existen librerias las cuales son una colección de metodos y funciones que permiten simplificar las lineas de codigo de nuestro programa. Para esta actividad estudiaremos tres tipos de ellas.

## Librerias Computación Cientifica



1.   Pandas

Permite una efectiva manipulación y analisis de los datos, además de acceso rapido a datos estructurados. La principal herramienta de Pandas es el DataFrame, el cual consiste en almacenar los datos en columnas y renglones. 

2.   NumPy

Utiliza arreglos para estructuras las entradas y salidas de los datos, se puede extender hasta matrices e inclusive se puede realizar un procesamiento de datos más eficiente con los arreglos. 

3.   SciPy

Permite realizar avanzados problemas matematicos como integrales, equaciones diferenciales y optimización de los datos. Así como una visualización de los datos más eficiente.

##Librerias de Visualización

Utilizar los metodos de visualización de datos es la mejor forma de comunicar los resultados con el publico objetivo, ya que nos habilita la posibilidad de mostrar los analisis de manera más efectiva, permitiendonos organizarlo en mapas y graficas.


1.   Matplotlib 

Es la libreria más comun para graficas y plots, permitiendo realizar la personalización al usuario final, segun las necesidades de los datos. 

2.   Seaborn 

Se encuentra basada en Matplotlib, permitiendo con mayor facilidad generar los plots, como mapas de calor y series de tiempo.

##Librerias de Algoritmo

Estas librerias transforman algunas tareas de aprendizaje automatico en procedimientos más sencillos permitiendonos desarrollar un modelo utilizando nuestra base de datos con el objetivo de obtener resultados con respecto a problemas.



1.   Scikit-learn

Se encuentra basado NumPy, SciPy y Matplotlib con la aplicación de las herramientas especificas nos permite realizar modelos estadisticos como regresión, clasificación, entre otros. 

2.   Statsmodels

Permite a los usuarios explorar los datos, estimar modelos estadisticos y desarrollar pruebas estadisticas.

#Importando el Dataframe

La adquisición de datos consiste en cargar y leer datos de varias fuentes. Los puntos importantes a tener presentes para realizar una adecuada lectura es el formato y la ubicación del archivo. 

Entendemos por formato a la forma en la que los datos se encuentra codificada. Algunos ejemplos son:
1.   .csv
2.   .json
3.   .xlsx
4.   .hdf


Por la ubicación el lugar donde se encuentra almacenada la información, generalmente en la computadora que utilizamos o en internet.

In [20]:
#Importamos un archivo csv con header 

import pandas as pd

path = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
dataframe = pd.read_csv(path)

In [21]:
#Imprimiremos las primeras 3 lineas de la base de datos para visualizar los encabezados originales
dataframe.head(3)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950

Como pudimos visualizar, la base de datos se imprimio de manera original, respetando la regla de 3 renglones que le indicamos a la función.

In [23]:
#Podemos importar un archivo csv sin header simplemente indicando "none"

import pandas as pd

path = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
dataframe = pd.read_csv(path, header = None)

In [24]:
#Imprimiremos las primeras 3 lineas de la base de datos para visualizar que sucede cuando se ocultan los encabezados
dataframe.head(3)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

Para este escenario, la base de datos se imprimio de manera modificada, ocultando los encabezados, pero respetando la regla de 3 renglones que le indicamos a la función.

#Imprimiendo el Dataframe

Para conjuntos de bases de datos muy largos no es recomendable imprimir la base de datos completamente. En algunos casos para propositos especificos se recomienda solo realizar la impresión de las primeras o las ultimas n cantidad de renglones de la base de datos, dependiendo las necesidades. A continuación veremos que función podemos utilizar.

In [18]:
#Imprimir solo las primeras 5 lineas de la base de datos
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Notamos que cuando no colocamos el valor deseado dentro de la función head o tail, pandas automaticamente asigna el valor de 5 para imprimir ya sea las primeras o ultimas 5 filas de la base de datos.

In [13]:
#Imprimir solo las ultimas 5 lineas de la base de datos
dataframe.tail()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Podemos observar que como manualmente quitamos los encabezados de las columnas, automaticamente pandas asigna valores numericos a dichos encabezados. Sin embargo, como no es lo más eficiente trabajar con datos sin categorias significativas, reemplazaremos los numeros de los encabezados por nombres relacionados a la información.

In [25]:
#Anañadiendo los encabezados que definimos para este ejercicio con proposito de practica

encabezados = ["Prueba0","Prueba1","Prueba2","Prueba3","Prueba4","Prueba5","Prueba6","Prueba7","Prueba8","Prueba9","Prueba10","Prueba11","Prueba12","Prueba13","Prueba14","Prueba15","Prueba16","Prueba17","Prueba18","Prueba19","Prueba20","Prueba21","Prueba22","Prueba23","Prueba24","Prueba25"]
dataframe.columns=encabezados 
dataframe.head(5)

,Prueba0,Prueba1,Prueba2,Prueba3,Prueba4,Prueba5,Prueba6,Prueba7,Prueba8,Prueba9,...,Prueba16,Prueba17,Prueba18,Prueba19,Prueba20,Prueba21,Prueba22,Prueba23,Prueba24,Prueba25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#Exportando el Dataframe

Existen muchos formatos que pandas permite exportar e importar como lo mencionamos en la introducción del ejercicio, aunque solo realizaremos la prueba con un tipo, indicaremos para propositos de entrenamiento las funciones necesarias para ejecutarlos.

Read: 
1.   pd.read_csv()
2.   pd.read_json()
3.   pd.read_excel()
4.   pd.read_sql()

Save: 
1.   df.to_csv()
2.   df.to_json()
3.   df.to_excel()
4.   df.to_sql()

In [27]:
#Exportamos en archivo CSV la base de datos que hemos estado trabajando hasta este momento 
dataframe.to_csv("Semana4.csv")

#Analizando el Dataframe

Entender los datos antes de comenzar a analizar el problema es fundamental para identificar el tipo de datos y su distribución, así como posibles fallas. 

Algunos de los tipos de datos que podemos encontrar dentro de nuestra base de datos son: 


1.   Objeto (string): numeros y strings
2.   Int64 (int): caracteres numericos 
3.   Float64 (float): caracteres numericos con decimales 
4.   Datetime64: datos de tiempo 

Entre parentisis podemos encontrar los tipos de datos nativos en Python. Es crucial detectar el tipo de datos con los cuales estaremos trabajando ya que pandas puede asignar de manera incorrecta el tipo de dato dentro de la base que estemos trabajando. Además de esta manera sera más sencillo identificar el tipo de funciones de pandas que podremos aplicar a ciertas categorías de datos. Es decir algunas funciones matematicas solo pueden ser aplicables a datos de categoria numerica, de otra forma podríamos obtener un error como resultado.

In [28]:
#Identificaremos el tipo de datos de cada categoría de la base de datos 
dataframe.dtypes

Prueba0       int64
Prueba1      object
Prueba2      object
Prueba3      object
Prueba4      object
Prueba5      object
Prueba6      object
Prueba7      object
Prueba8      object
Prueba9     float64
Prueba10    float64
Prueba11    float64
Prueba12    float64
Prueba13      int64
Prueba14     object
Prueba15     object
Prueba16      int64
Prueba17     object
Prueba18     object
Prueba19     object
Prueba20    float64
Prueba21     object
Prueba22     object
Prueba23      int64
Prueba24      int64
Prueba25     object
dtype: object

#Estadisticos

Para obtener la distribución de los datos, podemos generar el promedio estadistico de cada columna del dataframe. Esto nos puede ayudar a identificar posibles errores matematicos como desviaciones grandes o datos extremadamente fuera del rango.

In [29]:
#Generaremos los estadisticos de la base de datos
dataframe.describe()

,Prueba0,Prueba9,Prueba10,Prueba11,Prueba12,Prueba13,Prueba16,Prueba20,Prueba23,Prueba24
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

Como podemos visualizar el metodo nos entrega diversos estadisticos como los que aparecen en la tabla, a continuación describiremos con mayor precisión cada uno de ellos.

##Count

Nos entrega el numero total de terminos en la columna

##Mean

Entrega el promedio de la columna

##STD

Entrega la desviación estandar de la columna

##Min y Max

Entregan los valores minimos y maximos de la columna respectivamente

##25% 50% 75%

Entrega la frontera de cada quartil de la columna respectiva

Es posible ejecutar esta funcion en columnas de tipo objetos, sin embargo cuando no existen datos en las columnas el metodo salta los calculos de la columna. 

Cuando agregamos include="all" dentro del metodo describe, estamos indicando a pandas incluir tambien las columnas de tipo de objeto.

In [30]:
#Ejecutaremos de nuevo el metodo pero ahora incluiremos las columnas de tipo de dato objeto 
dataframe.describe(include="all")

,Prueba0,Prueba1,Prueba2,Prueba3,Prueba4,Prueba5,Prueba6,Prueba7,Prueba8,Prueba9,...,Prueba16,Prueba17,Prueba18,Prueba19,Prueba20,Prueba21,Prueba22,Prueba23,Prueba24,Prueba25
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

Como podemos ver han aparecido nuevas filas dentro de la tabla generada: unique, top y freq.

##Unique

Hace referencia al numero de objetos distintos en la columna

##Top

Es el objeto más frecuente dentrode la columna

##Freq

Refiere al numero de veces que el objeto top apareci en la columna

Cuando objetenemos un valor de "NaN", lo que significa "Not a number". Es el resultado que obtenemos cuando no se puede aplicar un metodo estadistico matematico a un especifico tipo de dato de la columna.

#Función info

Podemos revisar la información de la base de datos, a través de la función info, la cual nos devuelve las primeras y ultimas 30 filas de la base de datos.

In [31]:
#Utilizando la función info para nuestra base de datos
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prueba0   205 non-null    int64
 1   Prueba1   205 non-null    object
 2   Prueba2   205 non-null    object
 3   Prueba3   205 non-null    object
 4   Prueba4   205 non-null    object
 5   Prueba5   205 non-null    object
 6   Prueba6   205 non-null    object
 7   Prueba7   205 non-null    object
 8   Prueba8   205 non-null    object
 9   Prueba9   205 non-null    float64
 10  Prueba10  205 non-null    float64
 11  Prueba11  205 non-null    float64
 12  Prueba12  205 non-null    float64
 13  Prueba13  205 non-null    int64
 14  Prueba14  205 non-null    object
 15  Prueba15  205 non-null    object
 16  Prueba16  205 non-null    int64
 17  Prueba17  205 non-null    object
 18  Prueba18  205 non-null    object
 19  Prueba19  205 non-null    object
 20  Prueba20  205 non-null    float64
 21  Prueba21  205 non-null    object
 22  Prueba22  205 non-null    object
 23  Prueba23  205 non-null    int64
 24  Prueba24  205 non-null    int64
 25  Prueba25  205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

#Graded Review Questions

![image.png]()

![image.png]()

![image.png]()

![image.png]()